*{margin: 0;}

.header {
    background: #d30e18;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    background: #d30e18;
    color: white;
    padding: 8px;
    border: 0;
}

.output {
    padding: 4px;
    min-height: 100px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    margin-bottom: 25px;
    color: white;
}

.server-list {
    display: block; 
    overflow: hidden;
    text-align: center;
    width: 80%;
    margin: auto;
}

.server {
    border-radius: 5px;
    background-color: hsla(0, 0%, 41%, 0.35);
    color: white;
    width: 47.5%;
    float: left;
    margin: 10px 1.25%;
}

.server h2{
    color: #d30e18;
    margin: 10px 0;
    font-weight: 700;
    font-size: 2em;
}

.server button{
    margin: 10px 0;
}

.servertitle{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #d30e18;
    margin: 15px 0;
}

.connect-button {
    background-color: #d30e18; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.connect-button:hover {
    background-color: #a80c14; /* Green */
}

body{
    background-image:  url('../Asset/bg-perudo.jpg');
    background-attachment: fixed;
    margin:auto;
    
}

.box-infos{
   margin-top: 3em;
   padding: 3em;
   background-color: hsla(60, 18%, 97%, 0.35);
   border-radius: 20px;
}

h1{
    margin:  auto;
    padding: 2em 0;
    font-weight: 700;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: underline;
    width: 100%;
}

.regle{
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    
}

.regletitle h1{
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
}

.regleresume{
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}

.regleresume p{
    margin-top: 25px;
    margin-bottom:50px;
}

.reglefonction{

}

.reglefonction li{
    margin: 10px 0;
}

.reglefonction h2{
    margin-bottom: 25px;
    font-weight: 700;
}


.regledonnee{

}

.regledonnee li{
    margin: 10px 0;
}

.regledonnee h2{
    margin: 25px 0;
    font-weight: 700;
}

.reglejeu{

}

.reglejeu h2{
    margin: 25px 0;
    font-weight: 700;
}

.reglejeu li{
    margin: 10px 0;
}