extends ../../_common/views/layout

block content
  .row.g-0 
    .col-6
        .card.mission-card-title.card-layout(style="height: 96%")
            .row
                h1  
                  i.bi.bi-person-heart.text-center(style="font-size: 1em;")
                  | &nbsp; #{__('profile.name', { firstname: user.firstname, lastname: user.lastname })}
                div.spacer-card 
                .row 
    .col-6
        .card.mission-card-title.card-layout(style="height: 96%")
            .row
                h1 
                  i.bi.bi-people-fill.text-center(style="font-size: 1em;")
                  | test
