:root {
  --primary-color: #000;
  --secondary-color: #23b199;
  --background-color: #eff0f3;
  --background-box-color: #eff0f3;
  --background-box-color-secondary: #2f323e;
  --secondary-gradient-color: #21363f;
  --menu-item-color: #6c7080;
  --menu-item-link-color: #45202f;
  --h4-color: #b8b9bd;
}
html,
body {
  width: 100%;
  color: #000;
  font-family: 'Treasure Map Dead Hand', sans-serif;
  
  
}
.navbar-brand {
  color: #000 !important;
}
.bg-dark {
  background-image: url('../images/flying_dutch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center!important;
}
.bg-white{
  background: #000 !important;
  color: #191b29 !important;
}
.bg-dark-custom {
  background: var(--background-box-color) !important;
  color: #000;
}
.bg-dark-custom-body {
  background: var(--background-box-color) !important;

}

body.bg-image {
  background-image: url('../images/flying_dutch.jpg');
  background-size: cover;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.btn-primary{
  background-color: #D30E17 !important;
  border-color: #D30E17 !important;
}


 @font-face {
  font-family: 'Treasure Map Dead Hand';
  src: url('stylesheets/fonts/Treamd.ttf') format('ttf'), /* Add other formats as needed */
}
