extends ../../_common/views/layout-hub

block content
    .container
        .row 
            .col-2
            .col-8

                .row(style="margin-top: 0px;")
                    .col-12(style="margin: auto;")
                        a(href="/hub" style="float: right; margin-bottom: 10px;") ⬅️ Retour au hub
                .card(style="border-radius: 10px; margin-bottom: 10px;")
                    .card-body 
                        img(src="/images/treasure-skull.png" style="float: left;  height: 100px; margin-right: 10px;")
                        p#ideMessage.animate__animated.animate__flash.animate__infinite(style="font-weight: bold; float: left; min-height: 100px; max-width: 80%")
                            | 🁢
                        br
                        p(style="width: 100%; float: left;")
                            a(href="/game-ide/instructions" target="_blank" class="btn btn-secondary") 📜 Règles du jeu
                .row
                    .col-12
                        button.btn.btn-primary.saveBtn(style="float: right; margin-bottom: 10px;")  💾 Enregistrer l'IA 
                .row
                    #editor.editor
                .row
                    .col-12
                        button.btn.btn-primary.saveBtn(style="float: right; margin-top: 10px; margin-bottom: 50px;")  💾 Enregistrer l'IA 
        .row(style="margin-top: 10px;")
            .col-8(style="margin: auto; padding: 40px; background: #fff; border-radius: 10px;")
                h4 Fonctions disponibles pour l'IA :
                br
                p Votre IA va être appelée à chaque tour de jeu, lorsque c'est à vous de jouer. Elle doit, à la fin de sa réflexion, effectuer l'une des deux actions suivantes :
                ul(style="margin-top: 0px;")
                    li
                        b window.bet(newbet) 
                        | : Cette fonction permet à l'IA de placer un pari. "newbet" est paramètre que vous devrez transmettre. Ce paramètre doit être sous la forme d'un tableau constitué de deux éléments: "[nombre de dés, valeur du dé]". La fonction retourne "true" si le pari envoyé est valide et bien pris en compte par le serveur, sinon elle renvoie "false".
                    li
                        b window.objection() 
                        | : Cette fonction permet à l'IA de contester un pari précédent. C'est le fameux "Dudo". Elle renvoie "true" si la contestation est envoyée est valide (faite au bon moment du jeu) et prise en compte par le serveur, sinon elle renvoie "false".
                p
                | Si l'une de ces deux fonctions retourne "false", cela signifie que l'action tentée par votre IA n'est pas valide. Après 5 tentatives invalides, une action par défaut sera exécutée à la place, pour le ne pas bloquer le jeu indéfiniement.
                
                h4(style="margin-top: 20px;") Données disponibles pour l'IA :
                p Vous avez accès à plusieurs variables qui vous permettront de prendre votre décision. Ces variables sont accessibles via le paramètre "data" reçu. Voici la liste des données disponibles :
                ul
                    li  
                        b playerList 
                        | : Liste des joueurs. 
                    li    
                        b actualManche 
                        | : Numéro de la manche actuelle. 
                    li    
                        b actualRound 
                        | : Numéro du round actuel.
                    li    
                        b actualBet 
                        | : Pari actuel.
                    li    
                        b actualtotalDices 
                        | : Nombre total de dés en jeu.
                    li    
                        b actualPlayerIndex 
                        | : Index du joueur actuel.
                    li    
                        b playerDices 
                        | : Dés du joueur.
                    li    
                        b isSpecialManche 
                        | : Un booléen indiquant si c'est la manche spéciale.
                p Vous pouvez sauvegarder vos données en localStorage par exemple pour les réutiliser plus tard. À vous d'être créatif et d'imaginer la meilleure stratégie pour battre les autres joueurs... humains et IA !    
                
        .row 
            br
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='/IDE-lib/ace.js')
    script(src='/IDE-lib/theme-monokai.js')
    script(src="/scripts/game-IDE-client.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/game-IDE.css', type="text/css")
    script. 
        $(document).ready(async function(){
            $.get("/api/parrot/ide", function(data) {
                animateTypingText("#ideMessage", data);
            });
        });