extends ../../_common/views/layout-hub

block content
    .container
        .row 
            .col-2
            .col-8

                .row(style="margin-top: 0px;")
                    .col-12(style="margin: auto;")
                        a(href="/hub" style="float: right; margin-bottom: 10px;") ⬅️ Retour au hub
                .card(style="border-radius: 10px; margin-bottom: 10px;")
                    .card-body 
                        img(src="/images/treasure-skull.png" style="float: left;  height: 100px; margin-right: 10px;")
                        p#ideMessage.animate__animated.animate__flash.animate__infinite(style="font-weight: bold; float: left; min-height: 100px; max-width: 80%")
                            | 🁢
                        br
                        p(style="width: 100%; float: left;")
                            a(href="/game-ide/instructions" target="_blank" class="btn btn-secondary") 📜 Instructions
                .row
                    .col-12
                        button.btn.saveBtn(style="float: right; margin-bottom: 10px;")  💾 Enregistrer l'IA 
                .row
                    #editor.editor
                .row
                    .col-12
                        button.btn.saveBtn(style="float: right; margin-top: 10px; margin-bottom: 50px;")  💾 Enregistrer l'IA 
        .row(style="margin-top: 10px;")
            .col-8(style="margin: auto; padding: 40px; background: #fff; border-radius: 10px;")
                h4 Fonctions disponibles pour l&apos;IA :
                ul
                li
                    | window.bet(newbet) : Cette fonction permet &agrave; l&apos;IA de placer un pari. &grave;newbet&grave; est un tableau constitu&eacute; de deux &eacute;l&eacute;ments: &grave;[nombre de d&eacute;s, valeur du d&eacute;]&grave;. La fonction retourne &grave;true&grave; si le pari est valide et envoy&eacute;, sinon elle renvoie &grave;false&grave;.
                li
                    | window.objection() : Cette fonction permet &agrave; l&apos;IA de contester un pari pr&eacute;c&eacute;dent. Elle renvoie &grave;true&grave; si la contestation est valide et envoy&eacute;e, sinon elle renvoie &grave;false&grave;.
                p
                | Si l&apos;une de ces fonctions renvoie &grave;false&grave;, cela signifie que l&apos;action tent&eacute;e par l&apos;IA n&apos;&eacute;tait pas valide. Apr&egrave;s 5 tentatives invalides, une action par d&eacute;faut sera ex&eacute;cut&eacute;e pour l&apos;IA.
                
                h4(style="margin-top: 20px;") Donn&eacute;es disponibles pour l&apos;IA :
                ul
                li  playerList : Liste des joueurs. 
                li  actualManche : Num&eacute;ro de la manche actuelle. 
                li  actualRound : Num&eacute;ro du round actuel.
                li  actualBet : Pari actuel.
                li  actualtotalDices : Nombre total de d&eacute;s en jeu.
                li  actualPlayerIndex : Index du joueur actuel.
                li  playerDices : D&eacute;s du joueur.
                li  isSpecialManche : Un bool&eacute;en indiquant si c'est la manche sp&eacute;ciale.
        .row 
            br
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='/IDE-lib/ace.js')
    script(src='/IDE-lib/theme-monokai.js')
    script(src="/scripts/game-IDE-client.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/game-IDE.css', type="text/css")
    script. 
        $(document).ready(async function(){
            $.get("/api/parrot/ide", function(data) {
                animateTypingText("#ideMessage", data);
            });
        });