extends ../../_common/views/layout-game

block content
    .container
        .row 
            .offset-0.offset-md-0
            .col-12.col-md-8
                .row(style="margin-top: 0px;")
                    .col-12(style="margin: auto;")
                        a(href="/hub" style="float: right; margin-bottom: 10px;") ⬅️ Fuir la partie (retour au hub)
                .card(style="border-radius: 10px; margin-bottom: 10px;")
                    .card-body 
                        h4.mt-2(style="font-family: cursive;") 
                            | Table de jeu : 
                            span#numeroTable
                        p#battleLaunch.my-2(style="width: 100%; float: left;")
                            button#launchBattleButton( class="btn btn-primary") ⚔️ Démarrer partie
                            if !isTraining
                                | &nbsp;
                                span#iaState(style="display: none;") ✅ IA chargée
                            else 
                                | &nbsp;
                                span#iaState(style="display: none;") ⚠️ Mode entrainement, vous jouez manuellement.
                            endif
                .row 
                    .col-12(style="padding: 0px;")
                        div(style="background: #fff; border-radius: 10px; padding: 20px; margin-bottom: 20px;")
                            h4(style="font-family: cursive;") 
                                | Mes dés : 
                            #dicesTable
                                .container-dice
                                    #dice0.dice.dice-one
                                        #dice-one-side-one.side.one
                                            .dot.one-1
                                        #dice-one-side-two.side.two
                                            .dot.two-1
                                            .dot.two-2
                                        #dice-one-side-three.side.three
                                            .dot.three-1
                                            .dot.three-2
                                            .dot.three-3
                                        #dice-one-side-four.side.four
                                            .dot.four-1
                                            .dot.four-2
                                            .dot.four-3
                                            .dot.four-4
                                        #dice-one-side-five.side.five
                                            .dot.five-1
                                            .dot.five-2
                                            .dot.five-3
                                            .dot.five-4
                                            .dot.five-5
                                        #dice-one-side-six.side.six
                                            .dot.six-1
                                            .dot.six-2
                                            .dot.six-3
                                            .dot.six-4
                                            .dot.six-5
                                            .dot.six-6
                                .container-dice
                                    #dice1.dice.dice-two
                                        #dice-two-side-one.side.one
                                            .dot.one-1
                                        #dice-two-side-two.side.two
                                            .dot.two-1
                                            .dot.two-2
                                        #dice-two-side-three.side.three
                                            .dot.three-1
                                            .dot.three-2
                                            .dot.three-3
                                        #dice-two-side-four.side.four
                                            .dot.four-1
                                            .dot.four-2
                                            .dot.four-3
                                            .dot.four-4
                                        #dice-two-side-five.side.five
                                            .dot.five-1
                                            .dot.five-2
                                            .dot.five-3
                                            .dot.five-4
                                            .dot.five-5
                                        #dice-two-side-six.side.six
                                            .dot.six-1
                                            .dot.six-2
                                            .dot.six-3
                                            .dot.six-4
                                            .dot.six-5
                                            .dot.six-6
                                .container-dice
                                    #dice2.dice.dice-three
                                        #dice-three-side-one.side.one
                                            .dot.one-1
                                        #dice-three-side-three.side.two
                                            .dot.two-1
                                            .dot.two-2
                                        #dice-three-side-three.side.three
                                            .dot.three-1
                                            .dot.three-2
                                            .dot.three-3
                                        #dice-three-side-four.side.four
                                            .dot.four-1
                                            .dot.four-2
                                            .dot.four-3
                                            .dot.four-4
                                        #dice-three-side-five.side.five
                                            .dot.five-1
                                            .dot.five-2
                                            .dot.five-3
                                            .dot.five-4
                                            .dot.five-5
                                        #dice-three-side-six.side.six
                                            .dot.six-1
                                            .dot.six-2
                                            .dot.six-3
                                            .dot.six-4
                                            .dot.six-5
                                            .dot.six-6
                                .container-dice
                                    #dice3.dice.dice-four
                                        #dice-four-side-one.side.one
                                            .dot.one-1
                                        #dice-four-side-three.side.two
                                            .dot.two-1
                                            .dot.two-2
                                        #dice-four-side-three.side.three
                                            .dot.three-1
                                            .dot.three-2
                                            .dot.three-3
                                        #dice-four-side-four.side.four
                                            .dot.four-1
                                            .dot.four-2
                                            .dot.four-3
                                            .dot.four-4
                                        #dice-four-side-five.side.five
                                            .dot.five-1
                                            .dot.five-2
                                            .dot.five-3
                                            .dot.five-4
                                            .dot.five-5
                                        #dice-four-side-six.side.six
                                            .dot.six-1
                                            .dot.six-2
                                            .dot.six-3
                                            .dot.six-4
                                            .dot.six-5
                                            .dot.six-6  
                                .container-dice
                                    #dice4.dice.dice-five 
                                        #dice-five-side-one.side.one
                                            .dot.one-1
                                        #dice-five-side-three.side.two
                                            .dot.two-1
                                            .dot.two-2
                                        #dice-five-side-three.side.three
                                            .dot.three-1
                                            .dot.three-2
                                            .dot.three-3
                                        #dice-five-side-four.side.four
                                            .dot.four-1
                                            .dot.four-2
                                            .dot.four-3
                                            .dot.four-4
                                        #dice-five-side-five.side.five
                                            .dot.five-1
                                            .dot.five-2
                                            .dot.five-3
                                            .dot.five-4
                                            .dot.five-5
                                        #dice-five-side-six.side.six
                                            .dot.six-1
                                            .dot.six-2
                                            .dot.six-3
                                            .dot.six-4
                                            .dot.six-5
                                            .dot.six-6                                                                                       
                .row 
                    .col-5(style="padding: 0px;")
                        div(style="background: #fff; border-radius: 10px; padding: 20px; margin-right: 20px;")
                            h4(style="font-family: cursive;") 
                                | Classement : 
                            ul#classement(style="height: 300px;")
                    .col-7(style="background: #fff; border-radius: 10px; padding: 20px;")
                        h4(style="font-family: cursive;") 
                            | Historique :
                        #historiqueContent(style="height: 300px; overflow-y: scroll;") 
                            ul#historique
                    //- .col-3.my-4(style="background: #fff; border-radius: 10px; padding: 20px;")
                    //-     h4(style="font-family: cursive;") 
                    //-     | Manche :
                    //-     span#mancheNumber(style="float: right;") 1
                    //-     h4(style="font-family: cursive;") 
                    //-     | Tour de : 
                    //-     span#currentPlayer(style="font-family: cursive, right;") Nom joueur
                .row
                    .col-12(style="background: #fff; border-radius: 10px; padding: 20px;")
                        .bet-display
                            .user-name
                                p Votre nom : #{user.firstname} #{user.lastname}
                            .player-name                           
                                p Tour du joueur :
                            .row.bet-values
                                p.col-3.p-0 Pari actuel : 
                                .col-9
                                    input.bet-input.bet-count(type='number' value='0' readonly='' disabled style='max-width : 50px; margin-right : 5px')
                                    a X
                                    input.bet-input.bet-number(type='number' value='2' readonly='' disabled style='max-width : 50px; margin-left : 5px')
        .row 
            br
    #modalIDESaved.modal        
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p ✅ Code sauvegardé avec succès ! 
    script(src='/scripts/game-IA-client.js')
    link(rel='stylesheet', href='/stylesheets/game-IA2.css')
