extends ../../_common/views/layout-game

block content
    .container
        .row 
            .col-2
            .col-8

                .row(style="margin-top: 0px;")
                    .col-12(style="margin: auto;")
                        a(href="/hub" style="float: right; margin-bottom: 10px;") ⬅️ Fuir la partie (retour au hub)
                .card(style="border-radius: 10px; margin-bottom: 10px;")
                    .card-body 
                        h4.mt-2(style="font-family: cursive;") 
                            | Table de jeu : 
                            span#numeroTable
                        p#battleLaunch.my-2(style="width: 100%; float: left;")
                            button#launchBattleButton( class="btn btn-primary") ⚔️ Démarrer partie
                            if !isTraining
                                | &nbsp;
                                span#iaState(style="display: none;") ✅ IA chargée
                            else 
                                | &nbsp;
                                span#iaState(style="display: none;") ⚠️ Mode entrainement, vous jouez manuellement.
                            endif
                .row.my-4
                    .col-5(style="padding: 0px;")
                        div(style="background: #fff; border-radius: 10px; padding: 20px; margin-right: 20px;")
                            h4(style="font-family: cursive;") 
                                | Classement : 
                            ul#classement(style="height: 300px;")
                    .col-7(style="background: #fff; border-radius: 10px; padding: 20px;")
                        h4(style="font-family: cursive;") 
                            | Historique :
                        #historiqueContent(style="height: 300px; overflow-y: scroll;") 
                            ul#historique
                    //- .col-3.my-4(style="background: #fff; border-radius: 10px; padding: 20px;")
                    //-     h4(style="font-family: cursive;") 
                    //-     | Manche :
                    //-     span#mancheNumber(style="float: right;") 1
                    //-     h4(style="font-family: cursive;") 
                    //-     | Tour de : 
                    //-     span#currentPlayer(style="font-family: cursive, right;") Nom joueur
                .row
                    .col-12(style="background: #fff; border-radius: 10px; padding: 20px;")
                        .bet-display
                            .user-name
                                p Votre nom : #{user.firstname} #{user.lastname}
                            .player-name                           
                                p Tour du joueur :
                            .bet-values
                                p Pari actuel :
                                input.bet-input.bet-count(type='number' value='0' readonly='')
                                |  ×
                                input.bet-input.bet-number(type='number' value='2' readonly='')
        .row 
            br
    #modalIDESaved.modal        
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p ✅ Code sauvegardé avec succès ! 
    script(src='/scripts/game-IA-client.js')
