doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Perudo
		link(rel='shortcut icon' href='#')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
		link(rel='stylesheet', href='/stylesheets/game-multi.css', type="text/css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
		style.
			body { margin: 0; }
		script(type="importmap").
			{
				"imports": {
					"three": "https://unpkg.com/three@0.155.0/build/three.module.js",
					"three/addons/": "https://unpkg.com/three@0.155.0/examples/jsm/"
				}
			}
		
	body
		font(color='white')
		h2(style='text-align: center;font-size: 40px;display:none') HOLLANDAIS VIOLENT
		button.playBtn(style="display:none") PLAY NEW GAME
		button.refreshBtn(style="display:none") Refresh
		.bet-display
			p Votre nom :
			.user-name
			p Joueur actuel :
			.player-name
			p Pari actuel :
			.bet-values
				input.bet-input.bet-count(type='number' value='0' readonly='')
				|  ×
				input.bet-input.bet-number(type='number' value='2' readonly='')
		.dices-scene
		.gameplay
			.left-box 
				.estimation
					p Quantity
					.custom-num
						i.fa.fa-angle-up.arr-up(style='display: block;color: black;font-size: 24px;padding: 5px;')
						input.num-input(type='number' value='3' data-color='#000000')
						i.fa.fa-angle-down.arr-down(style='display: block;color: black;font-size: 24px;padding: 5px;')
					p Value
					.custom-num
						i.fa.fa-angle-up.arr-up(style='display: block;color: black;font-size: 24px;padding: 5px;')
						input.num-input(type='number' value='3' data-color='#000000')
						i.fa.fa-angle-down.arr-down(style='display: block;color: black;font-size: 24px;padding: 5px;')
				.game-button(style="display: grid;")
					button.betBtn(id="betButton") BET
					button.pacoSwitchBtn(id="pacoSwitchButton") paco&apos;s switch
					button.objectionBtn(id="objectionButton") Contest
			.middle-box 
				.game-info
					.players
			.right-box 



script(src='/scripts/game-multi-client.js')