doctype html
html(data-bs-theme="dark")
  head
    title Betclic Hollandais
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css',  crossorigin='anonymous', referrerpolicy='no-referrer')
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style-offline.css')    
    link(rel="icon", type="image/png", href="/images/favicon.png")
    meta(name="viewport")
  body(class="bg-dark ")
    div
      nav(class="navbar navbar-expand-lg navbar-dark bg-dark-custom sticky-top")
        .container-fluid.margin-auto(style="max-width: 71.25rem;")
          a.navbar-brand(href="/") 
            i.bi.bi-coin.animate__animated.animate__rotateIn(style="font-size: 1rem; color: var(--primary-color);)")
            span &nbsp; Betclic Hollandais by La Horde

      .row.flex-nowrap
        .col.bg-dark-custom-body
          .row(style="padding: 15px; padding-right: 0px;")
            block content
    footer.footer.bg-dark-custom.py-5
      .container-fluid
        .row.justify-content-center
          .col-lg-8.text-center
            .mb-4
              a.navbar-brand(href='#' style="text-decoration: none; color: #fff;") 
                i.bi.bi-calendar2-heart.animate__animated.animate__rotateIn(style="font-size: 1rem; color: var(--primary-color);)")
                span &nbsp; Betclic Hollandais
            

                  
            p.mt-4.mb-0 © 2023 La Horde. All Rights Reserved.





    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js', crossorigin='anonymous', referrerpolicy='no-referrer')
