doctype html
html(data-bs-theme="dark")
  head
    title Betclic Hollandais
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css',  crossorigin='anonymous', referrerpolicy='no-referrer')
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style-offline.css') 
    //link(href='/stylesheets/fonts/Treamd.ttf' rel="stylesheet")
   
    link(rel="icon", type="image/png", href="/images/wheel.png")
    meta(name="viewport")
  body(class="bg-image")
    audio(src="/sounds/click.mp3", preload="auto", id="audioClick")
    div
      nav(class="navbar navbar-expand-lg navbar-dark sticky-top" style="background: #EDE4D0;")
        .container-fluid.margin-auto(style="max-width: 71.25rem;")
          a.navbar-brand(href="/" style="margin: auto;")
            img(src="../images/logo_betclic_2019.png", alt="Betclic", style="float: left; width: 8rem; height: 3rem; color: var(--primary-color);")
            h1(style="font-family:  cursive; float: left; margin-left: 20px;") 
                | Hollandais Violent 
                img(src="/images/wheel.png" style="width: 30px; height: 30px; margin-left: 10px; margin-top: -5px;")

      .row.flex-nowrap(style="padding-top: 50px;")
        block content

script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js', crossorigin='anonymous')    
script(src="/scripts/textAnimate.js")
script(src="/scripts/common.js")
