extends ../../_common/views/layout-offline

block content
    script(src="/scripts/register.js")
    .row.align-items-center.g-lg-5.py-5(style="margin-top: 0px; min-height: 600px;")
        
        .col-5.text-center.text-lg-start(style="margin-top: 0px;")
            .row
                .col-12(style="margin: auto; padding-top: 40px;")
                    img(src="/images/parrot.png" style="float: left;")
                    p#registerMessage(style="font-weight: bold;") ARRRRRRRRR
        .col-sm-7.col-12.mx-auto

            .row  
                .col-8(style="border-radius: 15px; background: #fff;")
                    form.p-4.p-md-5.bg-body-tertiary(action="/login/register", method="post" style="border: none; padding: 2rem !important;")
                        .form-floating.mb-3
                            .form-row.text-center
                                h3 Créer un compte
                                br
                                br
                                .row 
                                    .col-1
                                    .col-md-10.mb-3
                                        input#firstnameInput.form-control(type="text", placeholder="Prénom", name="firstname", required)
                                .row 
                                    .col-1
                                    .col-md-10.mb-3
                                        input#lastnameInput.form-control(type="text", placeholder="Nom", name="lastname", required)
                                .row 
                                    .col-1
                                    .col-md-10.mb-3
                                        input#emailRegisterInput.form-control(type="email", placeholder="Email", name="email", required)
                                .row 
                                    .col-1
                                    .col-md-10.mb-3
                                        input#passwordRegisterInput.form-control(type="password", placeholder="Mot de passe", name="password", required)                               
                                .row 
                                    .col-1
                                    .col-md-10.mb-3
                                        button.btn.btn-primary(type="submit" style="width: 100%") S'inscrire
                                        br
                                        br
                                        a(href="/login") Déjà inscrit? Connectez-vous.