doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title Perudo
		link(rel='shortcut icon' href='#')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js", type="text/js")
		style.
			body { margin: 0; }
		script(type="importmap").
			{
				"imports": {
					"three": "../lib/three.module.js",
					"three/addons/": "./three/examples/jsm/"
				}
			}
		script(type="module" src="../scripts/game-client.js")
	body
		form#registrationForm
			input(type="text", id="username", placeholder="Username")
			input(type="password", id="password", placeholder="Password")
			button(type="submit") Register
		script(src="public/registration.js", type="text/js")
		form#loginForm
			input(type="text", id="lusername", placeholder="Username")
			input(type="password", id="lpassword", placeholder="Password")
			button(type="submit") Login
		script(src="public/login.js", type="text/js")
		p#playerCount Players: 0
		ul#userList
